<% content_for :head do %>
    <script type="text/javascript" src="/javascripts/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-ui-1.8.9.custom.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#skill-slider').slider({
			    range: "min",
                max: 100,
                value: <%= @book.skill %>,
                disabled: true,
                });
            $('#approach-slider').slider({
			    range: "min",
			    max: 100,
                value: <%= @book.approach %>,
                disabled: true,
            });
            $('#shelf-life-slider').slider({
			    range: "min",
			    max: 100,
                value: <%= @book.life %>,
                disabled: true,
            });
            $('#style-slider').slider({
			    range: "min",
			    max: 100,
                value: <%= @book.style %>,
                disabled: true,
            });
        });
    </script>
<% end %>
<% content_for :main do %>
            <div id="breadcrumb"></div>
            <div id="book-header">
                <div id="book-cover">
                    <img src="/img/<%= @book.slug %>-cover.png"/>
                    <a href="/buy"><button id="buy">Order a copy</button></a>
                    <div id="cover-preview">or check out a <a href="#book-preview">preview</a></div>
                </div>
                <div id="book-summary">
                    <div id="book-title">
                        <h1><%= @book.title %></h1>
                        <span><%= @book.author %> - <%= @book.publisher %> - 
                                <%= @book.edition %> (<%= @book.year %>)</span>
                        <hr />
                    </div>
                    <div id="book-abstract">
                        <%= @book.abstract %>
                        <hr />
                    </div>
                    <div id="book-extras">
                        <div id="book-sources">
                            Also available on:
                            <br />
                            <a id="ipad-icon" href="#" title="iPad"></a>
                            <a id="kindle-icon" href="#" title="Kindle"></a>
                        </div>
                        <div id="book-tags">
                            Tagged:
                            <br />
                            <% @book.tags.each do |tag| %>
                                <div class="tag"><%= tag %></div>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div id="book-scores">
                    <div class="slider-title">Skill Level</div>
                    <div class="slider" id="skill-slider"></div>
                    <div class="slider-labels">
                        <div class="left-label">Beginner</div>
                        <div class="center-label">Intermediate</div>
                        <div class="right-label">Expert</div>
                    </div>
                    <div class="slider-title">Shelf Life</div>
                    <div class="slider" id="shelf-life-slider"></div>
                    <div class="slider-labels">
                        <div class="left-label">New</div>
                        <div class="center-label">Established</div>
                        <div class="right-label">Classic</div>
                    </div>
                    <div class="slider-title">Approach</div>
                    <div class="slider" id="approach-slider"></div>
                    <div class="slider-labels">
                        <div class="left-label">Theoretical</div>
                        <div class="right-label">Practical</div>
                    </div>
                    <div class="slider-title">Style</div>
                    <div class="slider" id="style-slider"></div>
                    <div class="slider-labels">
                        <div class="left-label">Reference</div>
                        <div class="center-label">Examples</div>
                        <div class="right-label">Articles</div>
                    </div>

                </div>
            </div>
 
            <div id="book-content">
                <hr />
                <div id="book-quotes">
                    <h2 class="centered-header">what readers are saying</h2>
                    <% @book.posts.each do |post| %>
                        <div class="topic">
                            <h3><a href="<%= post.source_url %>"><%= post.source_title %></a></h3>
                            <% post.quotes.each do |quote| %>
                                <div><%= quote.body %></div>
                                <div class="user">
                                    <a href="<%= quote.url %>">posted by <%= quote.user %></a>
                                </div>
                            <% end %>
                        </div>
                    <% end %>
                </div>
                <div id="book-preview">
                    <hr />
                    <h2 class="centered-header">take a look inside</h2>
                    <div id="embedded-preview" style="width:700px;height:780px;">
                        <script type="text/javascript" src="http://books.google.com/books/previewlib.js">
                        </script>
                        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
                        <script type="text/javascript">
                            google.load("books", "0");
                            //GBS_insertEmbeddedViewer('ISBN:<%= @book.isbn %>',700,780);
                            function initialize() {
                            var viewer = new google.books.DefaultViewer(document.getElementById('embedded-preview'));
                            viewer.load('ISBN:<%= @book.isbn %>', function(){                            
                                    //if ($('#embedded-preview > iframe').length < 1){                                    
                                    <% if @book["alt_preview"].present? %>
                                        $('#embedded-preview').html('<iframe width="100%" height="100%" src="<%= @book.alt_preview %>"></iframe>');
                                    <% else %>
                                        $('#embedded-preview').text("Sorry, we don't have a preview for this book yet.");
                                    <% end %>
                                //}
                                    });                        
                            }
                            google.setOnLoadCallback(initialize);
                        </script>
                    </div>
                </div>
            </div>
<% end %>
